@rendermode InteractiveServer

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.MenuBook" Class="mr-3" />
            @(isEditMode ? "Edit Lesson" : "Create New Lesson")
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (isLoading)
        {
            <div class="text-center py-4">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                <MudText Class="mt-2">Loading lesson...</MudText>
            </div>
        }
        else
        {
            <MudForm @ref="form" Model="model">
                <MudStack Spacing="4">
                    <MudTextField @bind-Value="model.Title"
                                  Label="Title"
                                  Required="true"
                                  RequiredError="Title is required"
                                  MaxLength="200"
                                  Counter="200"
                                  Variant="Variant.Outlined" />

                    <MudTextField @bind-Value="model.Description"
                                  Label="Description"
                                  MaxLength="500"
                                  Counter="500"
                                  Lines="3"
                                  Variant="Variant.Outlined" />

                    <MudNumericField @bind-Value="model.OrderIndex"
                                     Label="Order Index"
                                     Min="0"
                                     Variant="Variant.Outlined" />

                    <MudTextField @bind-Value="model.Content"
                                  Label="Content"
                                  Required="true"
                                  RequiredError="Content is required"
                                  Lines="10"
                                  Variant="Variant.Outlined" />
                </MudStack>
            </MudForm>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Error">Cancel</MudButton>
        <MudButton OnClick="Save" Color="Color.Success" Variant="Variant.Filled" Disabled="isLoading || isSaving">
            @if (isSaving)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                <MudText Class="ms-2">Saving...</MudText>
            }
            else
            {
                <MudText>@(isEditMode ? "Update" : "Create")</MudText>
            }
        </MudButton>
    </DialogActions>
</MudDialog>